name: SonarQube Scan

on:
  push:
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: sqp_e881007168e36494940f5419066f4aac0838daf4
          SONAR_HOST_URL: http://100.31.46.43:9000/
